@import './color.scss';

html {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

body {
  flex: 1;
  display: flex;
  background-color: $eee;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'sans-serif', 'Ubuntu', 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei';
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

html, body, #root, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

::selection {
  color: $eee;
  background-color: $c333;
}

.dou-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: $c111;
}
