@import '@/common/scss/color.scss';

ul.dou-header-right {
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: $c000;

  a, p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fff;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }

  a {
    padding: 0 10px;
    i { color: $ccc; }
  }
}

.message-page__container {
  display: flex;
}
